## local supabase instance
# VITE_SUPABASE_URL=""
# VITE_SUPABASE_KEY=""
# SUPABASE_SERVICE_ROLE_KEY=""

## remote supabase instance
# Project_ID=""
# Database_Password=""
# VITE_SUPABASE_URL=""
# VITE_SUPABASE_KEY=""

